<div class="container-fluid h-100 home">
  <div class="title">
    ¡ESTOS SON LOS ARTISTAS MÁS ESCUCHADOS EN SUENACHILE  <%= fa_icon 'music' %>!
  </div>
  <div class="card">
    <div class="card-body">
      <p class="info"></p>
      <canvas id="chart"></canvas>
    </div>
  </div>
</div>

<script type="text/javascript" src="/javascript/lib/chart.js"></script> <!-- JS logic for display chart -->